---
// const {page}=Astro.props

export async function getStaticPaths() {
  const response = await fetch(`https://windfisher.herokuapp.com/api/pages/1`);
  const result = await response.json();
  const page = result.results;

  // Return a paginated collection of paths for all posts
  return page;

}
    const {id}=Astro.request.params

// const {page}=Astro.props
---
<h1>
<!-- {page.title} -->
{id}
</h1>    