---
import NavBar from "../components/NavBar.vue"
import Footer from "../components/Footer.vue"

const {title,metaDescription}=Astro.props

const siteUrl=import.meta.env.PUBLIC_SITE_URL;

const apiURL = import.meta.env.PUBLIC_API

const menusResponse = await fetch(`${apiURL}/menu?populate=*`);
const menuRes = await menusResponse.json();
const menus= menuRes.data.attributes.Menu

const footerResponse = await fetch(`${apiURL}/footer?populate=*`);
const footerRes = await footerResponse.json();
const footerItems= footerRes.data.attributes.item
---

<style>

</style>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<meta name="description" content={metaDescription}>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

	<link rel="stylesheet" href={Astro.resolve("../assets/styles/global.scss")} />

	<link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
	<link rel="manifest" href="/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">


<style global>

</style>


<script type="text/plain" data-cookiecategory="analytics" async src="https://www.googletagmanager.com/gtag/js?id=G-VR6MVVZH60"></script>
<script type="text/plain" data-cookiecategory="analytics">
    window.dataLayer = window.dataLayer || [];
    function gtag(){window.dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-VR6MVVZH60');
</script>

<!-- https://github.com/orestbida/cookieconsent -->
<script defer src={Astro.resolve("../assets/plugins/cookieconsent/cookieconsent.js")}></script>
<link rel="stylesheet" href={Astro.resolve("../assets/plugins/cookieconsent/cookieconsent.css")} />
<script>

    window.addEventListener('load', function () {
        // obtain cookieconsent plugin
        var cookieconsent = initCookieConsent();

        // run plugin with config object
        cookieconsent.run({
            autorun: true,
            current_lang: 'en',
            autoclear_cookies: true,
            page_scripts: true,

            onFirstAction: function(user_preferences, cookie){
                // callback triggered only once
            },

            onAccept: function (cookie) {
                // ... cookieconsent accepted
            },

            onChange: function (cookie, changed_preferences) {
                // ... cookieconsent preferences were changed
            },

            languages: {
                en: {
                    consent_modal: {
                        title: 'Cookie manangement',
                        description: 'This website uses essential cookies to ensure its proper operation and tracking cookies to understand how you interact with it. The latter will be set only upon approval.',
                        primary_btn: {
							color:'#ccc',
                            text: 'Accept',
                            role: 'accept_all'              // 'accept_selected' or 'accept_all'
                        },
                        secondary_btn: {
                            text: 'Settings',
                            role: 'settings'                // 'settings' or 'accept_necessary'
                        }
                    },
                    settings_modal: {
                        title: 'Cookie preferences',
                        save_settings_btn: 'Save settings',
                        accept_all_btn: 'Accept all',
                        reject_all_btn: 'Reject all',       // optional, [v.2.5.0 +]
                        cookie_table_headers: [
                            {col1: 'Name'},
                            {col2: 'Domain'},
                            {col3: 'Expiration'},
                            {col4: 'Description'},
                            {col5: 'Type'}
                        ],
                        blocks: [
                            {
                                title: 'Cookie usage',
                                description: 'I use cookies to ensure the basic functionalities of the website and to enhance your online experience. You can choose for each category to opt-in/out whenever you want.'
                            }, {
                                title: 'Strictly necessary cookies',
                                description: 'These cookies are essential for the proper functioning of my website. Without these cookies, the website would not work properly.',
                                toggle: {
                                    value: 'necessary',
                                    enabled: true,
                                    readonly: true
                                }
                            }, {
                                title: 'Analytics cookies',
                                description: 'These cookies collect information about how you use the website, which pages you visited and which links you clicked on. All of the data is anonymized and cannot be used to identify you.',
                                toggle: {
                                    value: 'analytics',
                                    enabled: false,
                                    readonly: false
                                },
                                cookie_table: [
                                    {
                                        col1: '^_ga',
                                        col2: 'google.com',
                                        col3: '2 years',
                                        col4: 'description ...',
                                        col5: 'Permanent cookie',
                                        is_regex: true
                                    },
                                    {
                                        col1: '_gid',
                                        col2: 'google.com',
                                        col3: '1 day',
                                        col4: 'description ...',
                                        col5: 'Permanent cookie'
                                    }
                                ]
                            }, {
                                title: 'More information',
                                description: 'For any queries in relation to my policy on cookies and your choices, please <a class="cc-link" href="https://wind-fisher.com/contact/">contact me</a>.',
                            }
                        ]
                    }
                }
            }
        });
    });
</script>

</head>
<body>
	<main class="font-readex">
		<NavBar client:load siteUrl={siteUrl} menus={menus} />
        <slot />
		<Footer footerItems={footerItems} siteUrl={siteUrl} />
	</main>
</body>
</html>